.label {
    display: inline-block;
    width: 10rem;
}

.custom-tooltip {
    background-color: white;
    text-decoration-color: black;
    border: 1px solid black;
    padding: 5px;
    margin: 3px;
    width: auto;
}
