html {
    background: url("static/background.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-text-size-adjust: auto;
    font-family: "Roboto", sans-serif;
}

h1.title {
    font-size: 3rem;
    color: white;
    text-align: center;
}
.graph.title {
    text-align: center;
}

.grid-comp {
    background: rgb(255, 255, 255);
    background: rgba(248, 248, 248, 0.883);
    border-radius: 1.5em;
    display: flex;
    justify-content: center;
    padding: 1rem 1rem 1rem 1rem;
}
.graph {
    padding: 0rem 0rem 1rem 0rem;
}

.grid-comp a {
    color: #fff;
}

.toggle-board {
    margin: 0 auto;
}

.summary {
    margin: 0 auto;
}
